*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

    body::content{
        content: '';
        width: 100%;
        height: 100%;
        background: #0D1117;
        background-position: center;
        overflow-x:hidden;
        overflow-y: scroll;
    }

.card{
    margin: 0.3vw;
}

mat-card{
    background:cornflowerblue;
    overflow: hidden;
}

mat-card-title{
    font-size: 1.1em;
}

h1{
    color: white;
}

